<div class="card-backgound logotype-card-background ">
	<div class="card-backgound__container container-card">
		<img src="@@neva-picture" alt="logo-neva" class="card-backgound__logo" />

		<div class="card-backgound__image flex">
			<img src="@@price-icons" alt="card-price" class="card-backgound__price" />
		</div>

		<div class="card-neva__content">
			<p class="card-neva__title">@@name-brand <span class="card-neva__subtitle">, @@diameter</span></p>

			<ul class="card-neva__features">
				<li class="card-neva__feature">@@characteristics-first</li>
				<li class="card-neva__feature">@@characteristics-second</li>
				<li class="card-neva__feature">@@characteristics-third</li>
			</ul>
		</div>
	</div>
</div>
