.header {
	background-color: transparent;
	padding: 5rem 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;

	&__icons {
		width: 30%;
		gap: 7rem;
		@include mobile {
			width: 40%;
		}
	}
}
